

/* "Blocks" */
.body {
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.column {
    width: 75%;
}
/* end blocks */

/* Fonts */
html {
	font-size: 62.5%;
    background-color: #292922;
    color: #fff;
}
p {
	font-size: 1.6rem;
	line-height: 1.8em;
}
a {
    font-size: 1.6rem;
}
.small {
	font-size: 1.2rem;
}
.large p {
	font-size: 3.8rem;
}
li {
	font-size: 1.6rem;
	line-height: 1.8em;
}
h1 {
	font-size: 5rem;
	font-family: 'EB Garamond', serif;
}
h2 {
	font-size: 3.2rem;
	font-family: 'EB Garamond', serif;
}
h3 {
	font-size: 2.8rem;
	font-family: 'EB Garamond', serif;
}
h4 {
	font-size: 1.8rem;
}
h5 {
	font-size: 1.2rem;
}
h6 {
	font-size: 1rem;
}
/* end fonts */